# -----------------------------------------------------------------------------
# API Feathers remote utilisée par NFZ 6.6.0
# -----------------------------------------------------------------------------
NFZ_REMOTE_URL=https://api.example.local
# Important : vide car le service auth est exposé à la racine : /authentication
NFZ_REMOTE_REST_PATH=
NFZ_REMOTE_SOCKET_PATH=/socket.io

# -----------------------------------------------------------------------------
# Keycloak client-only
# -----------------------------------------------------------------------------
KEYCLOAK_SERVER_URL=https://keycloak.example.local
KEYCLOAK_REALM=EXAMPLE
KEYCLOAK_CLIENT_ID=nuxt4app
KEYCLOAK_ON_LOAD=check-sso

# -----------------------------------------------------------------------------
# Debug
# -----------------------------------------------------------------------------
NUXT_PUBLIC_AUTH_DEBUG=true

# -----------------------------------------------------------------------------
# Synchronisation LDAP automatique après succès Keycloak
# -----------------------------------------------------------------------------
NUXT_PUBLIC_LDAP_AUTO_SYNC=true
